body {
    background: #d6d9ab;
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  .main {
    background: transparent;
    max-width: 800px;
    width: 90%;
    height: 500px;
    margin: 30px auto;
    border-radius: 10px;
  }
  
  .sub {
    width: 100%;
    background: transparent;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sub input {
    background-color: transparent;
    width: 80%;
    height: 40px;
    margin: 5px auto;
    border: 2px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    padding: 0px 5px;
    margin-left: 10px;
    color: white;
  }
  
  .sub button {
    
    width: 17%;
    height: 40px;
    margin: 0px auto;
    border: 1px solid white;
    outline: none;
    background: #353d36;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;


  }
  
  .sub button:hover {
    box-shadow: 0 2px 2px 0 #ccc, 0 2px 3px 0 #ccc;
    opacity: 0.7;
  }

  @media screen and (max-width: 992px) {
  .sub button {
    margin-left: 10px;
    width: 95%;
  }

  .sub input{
    width: 95%;
    margin-right: 10px;
  }
}


/* On screens that are 600px wide or less, */
@media screen and (min-width: 900px) {
  .sub button {
    margin-left: 0px;
  }
}


.label{
  background-color: transparent; 
  width: 100%; 
  border-radius: 5px; 
  padding: 5px 0px 5px 0px;
  margin-bottom: 10px;
}

  #errorMes {
    display: block;
    background: #f2dede;
    width: 95%;
    margin: 0px auto;
    color: rgb(139, 19, 19);
    padding: 10px;
    height: 35px;
  }
  
  .todoshow {
    width: 100%;
    background: #004225;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
  }
  
  .todos {
    width: 95%;
    margin: 10px auto;
    
  }
  
  .todos h2 {
    display: inline-block;
    padding: 5px 0px;
    font-size: 20px;
    color: white;
  }
  
  .todos small {
    display: block;
    width: 100%;
    padding: 5px 0px;
    color: lightgray;
    padding-left: 30px;
    font-size: 14px;
    font-family: sans-serif;
  }

  .todos .getstarted{
    font-size: 20px;
    color: white;
    text-align: center;
  }
  
  .erase {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    font-family: sans-serif;
    color: gray;
    text-decoration: none;
    text-align: right;
    padding: 6px 8px 0px 0px;
    border-radius: 50%;
    transition: background 1s;
    cursor: pointer;
  }
  
  .erase:hover {
    color: #fff;
  }
  
  .checked {
    color: #999 !important;
    text-decoration: line-through;
  }
  
  .todos input {
    margin: 0px 5px;
  }
  
  .empty {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    color: #cccc;
  }

@font-face { font-family: KGSketch; src: url('/font/KGBlankSpaceSketch.ttf'); }
@font-face { font-family: KGSolid; src: url('/font/KGBlankSpaceSolid.ttf'); }


.tooltip {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: transparent;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: relative;
  z-index: 1;
  float: right;
  background-color: ;
  border-radius: 10px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  cursor: default;
  color: gray;
}
